---
layout: page
title: Papers
permalink: /publications/
---

<div class="bg-gray-light">
  <div class="container-lg px-3 page-section">
    <h1 class="alt-h2">{{ page.title }}</h1>

    <div class="d-md-flex flex-wrap gutter flex-auto">
      {% assign publications = site.publications | sort: 'year' | reverse %}
      {% for publication in publications %}
        {% include publication.html publication=publication %}
      {% endfor %}

      <div class="col-lg-4 col-md-6 mb-3 mt-3 d-flex flex-column">
        <a href="https://github.com/NAIST-SE/code-review.github.io/blob/master/CONTRIBUTING.md#adding-your-PAPER" class="d-flex flex-column flex-1 rounded-1 border border-dashed border-gray-dark link-gray no-underline">
          <h3 class="h4 px-3 pt-3">
            {% octicon plus class:"v-align-text-bottom" %}
            Share your paper
          </h3>
          <p class="lh-condensed px-3 pb-3">Is your paper ready for prime time? Submit it to the paper directory.</p>
        </a>
      </div>
    </div>
  </div>
</div>